#form {
  input {
    width: 100%;
    &[name]{
      width: 90%;
    }
  }
}
.container{

}
.responsive-label {
  align-items: center;
}

@media (min-width: 768px) {
  .responsive-label .col-md-3 {
    text-align: right;
  }
}